<head>
<script src="https://kit.fontawesome.com/8723c00b03.js"></script>
</head>
<header>
<% if(typeof name !== 'undefined' ){%>
     <nav id="nav-bar">
   <span class='is-main-tittle'>
   <p class='is-username'><i class="fa fa-drumstick-bite"></i>Petit Poulet</p>
   <p class='is-username'><i class="fa fa-user"></i><%= name %></p>
   </span>
   <span class='is-logout-name is-username'>
     <a href="/logout">Logout</a>
     |
     <a href="/orders">Order Status</a>
   </span>
 </nav>
 <%}else{ %>
  <h2>le poulet vous dit bonjour </h2>
 <% } %>
</header>
