<header>
  <nav id="nav-bar">
    <h1>Petite Poulet</h1>
    <section>
      <a href="/restaurants">EAT NOW!</a>
      |
      <a href="/orders">Order Status</a>
      |
      <a href="/logout">Logout</a>
    </section>
  </nav>
</header>


