<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />


    <title>Example</title>

      <nav id="nav-bar">
        <h1>Petite Poulet</h1>
        <section>
          <a href="https://www.nhl.com">Logout</a>
          |
          <a href="https://www.facebook.com">Order Status</a>
        </section>

      </nav>


  </head>
