<header>
<% if(typeof name !== 'undefined' ){%>
     <nav id="nav-bar">
   <h1>Petite Poulet</h1>
   <section>
   <strong class="text-success">  <%= name %> <strong>
     <a href="/logout">Logout</a>
     |
     <a href="/orders">Order Status</a>
   </section>
 </nav>
 <%}else{ %>
  <h2>le poulet vous dit bonjour </h2>
 <% } %>
</header>
