<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>

  <body>
    <% include ./partials/_header %>
     <div class='container'>
         <div class='row'>
    <main class = "order-status col-7">
      <section class = "orders-list">
                  <h2>Order Status</h2>
                  <section class="order">
                      <h4>Order ID: HX20</h4>
                      <span>Restaurant: Mandy's Salad</span>
                      <span>Order Time: </span>
                      <span>Current Status: </span>
                  </section>
                  <section class="order">
                      <h4>Order ID: HX20</h4>
                      <span>Restaurant: Mandy's Salad</span>
                      <span>Order Time: </span>
                      <span>Current Status: </span>
                  </section>
      </section>
    </main>
    <aside class="col">
    <img src="http://cafesantorini.com/wp-content/uploads/2017/02/75.jpg">
    </aside>
    </div> 
    </div>
    <% include ./partials/_footer %>
  </body>
</html>
