<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External CSS -->
   <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap&subset=latin-ext" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
  <% include ./partials/_header %>
    <div class='is-flex main'>
      <main class="menu">

              <h2>Menu</h2>
              <%for(menu of menus){%>
                <div class="container is-border order-container">
                <p class="is-font-item"><p><%=menu.name%></p>

                 <p>Price: $<%=menu.price%></p>
                  <form>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Add</label>
                    </div>
                  </form>
              </div>
              <%}%>
              <button type="button" class="btn btn-primary">Go Back</button>
      </main>

      <form class="container is-shrink">
              <p>Your Order</p>
              <p>Item 1  $10.00</p>
              <p>Item 2 $20.00</p>
              <footer class="is-border-top">
                <p>Total  $30.00</p>
              </footer>
                <a href="/" class="btn btn-primary">Order Now</a>
      </form>
    </div>
  <% include ./partials/_footer %>
  </body>
</html>
