<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <% include ./partials/_header %>
    <h1>Order Status</h1>
    <section class = "orders-list">
                <section class="order">
                    <span>Order ID: HX20</span>
                    <span>Restaurant: Mandy's Salad</span>
                    <span>Current Status: </span>
                    <span>Order Time: </span>
                </section>
                <br>--------</br>
                <section class="order">
                    <span>Order ID: HX20</span>
                    <span>Restaurant: Mandy's Salad</span>
                    <span>Current Status: </span>
                    <span>Order Time: </span>
                </section>
    </section>
  </body>
</html>
