<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <% include ./partials/_header %>
  <main class="register-page form-register">
    <section class="container">

      <form action="/register" method="POST">
        <h2>Register</h2>
        <div class="form-group">
          <label for="exampleInputEmail1">User Email</label>
          <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter username">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input type="password" name="password2" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
         <div class="form-group">
          <label for="exampleInputPassword1">Phone Number</label>
          <input type="number" name="phonenumber" class="form-control" id="exampleInputPassword1" placeholder="Phone number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </main>
  <% include ./partials/_footer %>
</body>

</html>
