
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>

  <body>

    <% include ./partials/_header %>
    <main class = "restaurants">
      <% for(var j = 0; j < restoInfo.length / 4; j++){ %>
        <section class = "form-inline">
        <% for(var i = 0; i < 4; i++){ %>
          <p>
            <a href="/restaurant/<%= restoInfo[i + 4 * j].id %>"> <%= restoInfo[i + 4 * j].name %> </a>
            <br>
            <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Poultry_Leg_Emoji_large.png?v=1480481029">

          </p>
         <% } %>
      <% } %>
    </main>

    <% include ./partials/_footer %>
  </body>
</html>
