
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>

  <body>

    <% include ./partials/_header %>
    <main class = "restaurants">
      <section class = "form-inline">
        <p>Gros Poulet
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Poultry_Leg_Emoji_large.png?v=1480481029">
          <br>
        </p>
        <p>Sushi Zushi
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sushi_Emoji_large.png?v=1480481064">
          <br>
        </p>
        <p>McLovin's Pizza
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slice_Of_Pizza_Emoji_large.png?v=1480481064">
          <br>
        </p>
        <p>Chef on Call
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Cheese_Burger_Emoji_large.png?v=1480481064">
          <br>
        </p>
      </section>

      <section class = "form-inline">
        <p>Gros Poulet
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Poultry_Leg_Emoji_large.png?v=1480481029">
          <br>
        </p>
        <p>Sushi Zushi
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sushi_Emoji_large.png?v=1480481064">
          <br>
        </p>
        <p>McLovin's Pizza
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Slice_Of_Pizza_Emoji_large.png?v=1480481064">
          <br>
        </p>
        <p>Chef on Call
          <br>
          <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Cheese_Burger_Emoji_large.png?v=1480481064">
          <br>
        </p>
      </section>
    </main>

    <% include ./partials/_footer %>
  </body>
</html>
