
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap&subset=latin-ext" rel="stylesheet"> 
  </head>

  <body>

    <% include ./partials/_header %>
    <main class = "restaurants">
      <% for(var j = 0; j < restoInfo.length / 4; j++){ %>
        <section class = "form-inline">
        <% for(var i = 0; i < 4; i++){ %>
          <p class='border'>
            <img src=<%=restoInfo[i + 4 * j].image%>> 
            <br> 
            <span class='restaurent-tittle'>
            <a href="/restaurant/<%= restoInfo[i + 4 * j].id %>"> <%= restoInfo[i + 4 * j].name %> </a> 
            </span> 
            <br>
          </p>
         <% } %>
      <% } %>
    </main>

    <% include ./partials/_footer %>
  </body>
</html>
