
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap&subset=latin-ext" rel="stylesheet"> 
  </head>

  <body>

    <% include ./partials/_header %>
    <main class = "restaurants">
      <% for(var j = 0; j < restoInfo.length / 4; j++){ %>
        <section class = "form-inline">
        <% for(var i = 0; i < 4; i++){ %>
<<<<<<< HEAD
          <p>
            <a href="/restaurant/<%= restoInfo[i + 4 * j].id %>"> <%= restoInfo[i + 4 * j].name %> </a>
            <br>
            <img src="https://images.deliveryhero.io/image/fd-ca/LH/e3ng-listing.jpg?width=800&height=584">

=======
          <p class='border'>
            <img src="https://images.deliveryhero.io/image/fd-ca/LH/s0hu-listing.jpg?width=800&height=584"> 
            <br> 
            <a href="/restaurants/<%= restoInfo[i + 4 * j].id %>"> <%= restoInfo[i + 4 * j].name %> </a> 
            <br>
            <span class='details'>$$$, vegan, salad, vegetarian, healthy food</span> 
>>>>>>> feature/restaurants-css
          </p>
         <% } %>
      <% } %>
    </main>

    <% include ./partials/_footer %>
  </body>
</html>
