div.is-flex{
    display: flex;
}
div.main{
    height: 100vh;
}

div.is-border-top{
    border-top: solid; 
}

div.order-container{
    padding: 10px;
    margin-bottom: 30px; 
}

.is-font-item{
    font-family: 'Knewave', cursive;
    font-size: 25px bold;  
}

.is-font-description{
    font-family: 'Knewave', cursive;
    font-size: 25px bold;  
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
